<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <div class="collapse navbar-collapse">
            <a href="/">
                <img src="{{ url_for('static', path='/images/favicon.svg') }}" class="website_logo"/>
                <span class="website_title">FastAPI powered Website</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                    &nbsp;
                </li>
                {% if data.logged == 'True' %}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile&nbsp;</a>
                    </li>
                    <li class="nav-item">
                        <!-- Button to open the modal login form -->
                        <button type="button" class="btn btn-danger" onclick="javascript:logout();">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            <span>Logout</span>
                        </button>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <!-- Button to open the modal registration form -->
                        <button type="button" class="btn btn-secondary" onclick="document.getElementById('signup_form').style.display='block'">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            <span>Sign Up</span>
                        </button>
                        &nbsp;
                    </li>
                    <li class="nav-item">
                        <!-- Button to open the modal login form -->
                        <button type="button" class="btn btn-info" onclick="document.getElementById('login_form').style.display='block'">
                            <i class="fa-solid fa-right-to-bracket"></i>
                            <span>Login</span>
                        </button>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<!-- Modal Login Form (hidden) -->
<div id="login_form" class="w3-modal" style="cursor:pointer; display: none;">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px;cursor:auto">

        <div class="w3-center"><br>
            <span onclick="document.getElementById('login_form').style.display='none'" title="Close Modal"
                class="w3-button w3-hover-text-grey w3-container w3-display-topright w3-xxlarge">&times;</span>
            <img src="{{ url_for('static', path='/images/avatar.png') }}" alt="Avatar" style="width:40%" class="w3-circle w3-margin-top">
        </div>

        <div class="w3-container">
            <div class="w3-section">
                <label for="login_email"><b>Email</b></label>
                <input class="w3-input w3-border" type="text" placeholder="Enter Email" id="login_email" name="login_email" required>

                <label for="login_password"><b>Password</b></label>
                <input class="w3-input w3-border" type="password" placeholder="Enter Password" id="login_password" name="login_password" required>

                <button class="w3-button w3-block w3-green w3-section w3-padding" id="btn_login">Login</button>

                <!--<label><input type="checkbox" checked="checked"> Remember me</label>-->
            </div>
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('login_form').style.display='none'" type="button" class="ws-btn w3-red">Cancel</button>
            <span class="w3-right w3-padding w3-hide-small">Forgot <a href="javascript:void(0)" onclick="document.getElementById('login_form').style.display='none'">password?</a></span>
        </div>

    </div>
</div>

<!-- Modal Sign Up Form (hidden) -->
<div id="signup_form" class="w3-modal" style="cursor:pointer; display: none;">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px;cursor:auto">

        <div class="w3-center"><br>
            <span onclick="document.getElementById('signup_form').style.display='none'" title="Close Modal"
                class="w3-button w3-hover-text-grey w3-container w3-display-topright w3-xxlarge">&times;</span>
            <!--<img src="{{ url_for('static', path='/images/avatar.png') }}" alt="Avatar" style="width:40%" class="w3-circle w3-margin-top">-->
        </div>

        <div class="w3-container">
            <div class="w3-section">
                <label for="signup_email"><b>Email</b></label>
                <input class="w3-input w3-border" type="text" placeholder="Enter Email" id="signup_email" name="signup_email" required>

                <label for="signup_name"><b>Email</b></label>
                <input class="w3-input w3-border" type="text" placeholder="Enter Name" id="signup_name" name="signup_name" required>

                <label for="signup_password"><b>Password</b></label>
                <input class="w3-input w3-border" type="password" placeholder="Enter Password" id="signup_password" name="signup_password" required>

                <label for="signup_repeat_password"><b>Repeat Password</b></label>
                <input class="w3-input w3-border" type="password" placeholder="Repeat Password" id="signup_repeat_password" name="signup_repeat_password" required>

                <button class="w3-button w3-block w3-green w3-section w3-padding" id="btn_signup">Sign Up</button>
            </div>
        </div>

        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button onclick="document.getElementById('signup_form').style.display='none'" type="button" class="ws-btn w3-red">Cancel</button>
        </div>

    </div>
</div>