/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    background: #ffffff;
}

.section-content {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

@media only screen and (min-width: 1442px)
.section-content {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.website_logo {
    width: 42px;
    height: 42px;
}

.website_title {
    padding-left: 15px;
    color: #fff;
}

.navbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 54px;
    max-height: 54px;
    background: rgba(0,0,0,0.92);
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0px;
}

#ac-gn-placeholder {
    height: 40px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.ac-gn-content {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
    padding-left: max(22px,env(safe-area-inset-left));
    padding-right: max(22px,env(safe-area-inset-right));
}

.ac-gn-list {
    cursor: default;
    margin: 0 -8px;
    width: auto;
    height: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
}

#ac-globalnav .ac-gn-link-icon .ac-gn-link-text {
    padding-left: 24px;
}

.ac-gn-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 54px;
    z-index: 1;
    vertical-align: top;
}

.ac-gn-item button {
    background: none!important;
    border: none;
    padding: 0!important;
    cursor: pointer;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #f5f5f7;
    font-size: 16px;
    line-height: 3.66667;
}

.ac-gn-item button:hover {
    color: #ffffff;
    text-decoration: underline;
    transition: all 0.3s;
}

#ac-globalnav .ac-gn-link-icon {
    background-size: 22px 54px;
    background-repeat: no-repeat;
    background-image: url(../images/favicon.svg);
    background-position: center center;
    width: 22px;
}

#ac-globalnav .ac-gn-item-spacer {
    min-width: 50px;
}

.ac-gn-link {
    font-size: 16px;
    line-height: 3.66667;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #f5f5f7;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 8px;
    height: 54px;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline-offset: -7px;
}

a.ac-gn-link:hover {
    color: #ffffff;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

.page-container {
  position: relative;
  min-height: 100vh;
}

#content div p {
    word-wrap: break-word;
}

#content p {
    font-size: 17px;
    line-height: 1.52947;
    font-weight: 400;
    letter-spacing: -.021em;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-top: 13px;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 80vh;
    transition: all 0.3s;
    position: relative;
    top: 0;
    right: 0;
    padding-bottom: 2.5rem;
}

#content .callout {
    margin-top: auto;
    font-size: 17px;
}

#content .callout {
    display: block;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    background-color: #fafafa;
    margin: 1.47059em auto;
    padding: 2.23529em 8.33333% 2.11765em;
    color: #333;
    text-align: center;
}

/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */

.footer-clean {
    position: relative;
    bottom: 0;
    width: 100%;
    min-height: 2.5rem;            /* Footer height */

    padding:10px 0;
    background-color:#fff;
    color:#4b4c4d;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}

@media (max-width:767px) {
  .footer-clean .item {
    text-align:center;
    padding-bottom:20px;
  }
}

@media (max-width: 768px) {
  .footer-clean .item.social {
    text-align:center;
  }
}

.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

@media (max-width:991px) {
  .footer-clean .item.social > a {
    margin-top:40px;
  }
}

@media (max-width:767px) {
  .footer-clean .item.social > a {
    margin-top:10px;
  }
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

/* Credit to https://epicbootstrap.com/snippets/footer-basic */