{% extends "base.html" %}

{% block title %}FastAPI powered Website{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
<h1>
    Checks
</h1>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="actions">
                <div id="videos_actions">
                    <button type="button" class="btn btn-success" id="refresh_button" onclick="javascript:refreshVideos();"><i class="fa-solid fa-refresh"></i></button>
                    <img src="{{ url_for('static', path='/images/loading.gif') }}" id="refresh_img" />
                    <span id="refresh_status">not started</span>
                </div>
                <div id="videos_amount">? Videos</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table" id="checksTable">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Video</th>
                        <th scope="col">Title</th>
                        <th scope="col">Duration</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">?</th>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--<p>Page: {{data.page}}</p>-->
<!--<p>Logged: {{data.logged}}</p>-->
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    String.prototype.toHHMMSS = function () {
        var sec_num = parseInt(this, 10); // don't forget the second param
        var hours   = Math.floor(sec_num / 3600);
        var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
        var seconds = sec_num - (hours * 3600) - (minutes * 60);

        if (hours   < 10) {hours   = "0"+hours;}
        if (minutes < 10) {minutes = "0"+minutes;}
        if (seconds < 10) {seconds = "0"+seconds;}
        return hours + ':' + minutes + ':' + seconds;
    }

    function download(video_id) {
        console.log('start downloading ' + video_id);
    }

    function ignore(video_id) {
        console.log('start ignoring ' + video_id);

        var formData = {
            video_id: video_id,
        };

        $.ajax({
            type:"POST",
            url: "/api/checks/ignore",
            contentType: "application/json",
            data: JSON.stringify(formData),
            dataType: "json",
            success: function(response) {
                console.log('ignored video ' + video_id);

                setTimeout(function() {
                    window.location.reload();
                }, 1);
            },
            error: function(xhr, textStatus, exception) {
                handleError(xhr, textStatus, exception);
            }
        });
    }

    var check_timer;
    function checkStatusWorker() {
        $.ajax({
            type:"GET",
            url: "/api/checks/status",
            success: function(response) {
                console.log('refresh videos status: ' + response.status);

                $('#refresh_status').text(response.status);
                if (response.status == 'ready') {
                    abortTimer();
                    $('#refresh_status').hide();
                    $('#refresh_img').hide();

                    setTimeout(function() {
                        window.location.reload();
                    }, 1);
                }
            },
            error: function(xhr, textStatus, exception) {
                handleError(xhr, textStatus, exception);
            }
        });
    }

    // to be called when you want to stop the timer
    function abortTimer() {
        clearInterval(check_timer);
    }

    function refreshVideos() {
        console.log('refresh videos');
        $('#refresh_button').removeClass('btn-success');
        $('#refresh_button').addClass('btn-secondary');
        $('#refresh_status').show();
        $('#refresh_img').show();

        $.ajax({
            type:"POST",
            url: "/api/checks/start",
            success: function(response) {
                console.log('refresh videos started');

                check_timer = setInterval(checkStatusWorker, 1000);
            },
            error: function(xhr, textStatus, exception) {
                handleError(xhr, textStatus, exception);
            }
        });
    }

    $(document).ready(function () {
        console.log('check login');

        $.ajax({
            type:"GET",
            url: "/api/checks/checks",
            success: function(response) {
                // console.log('success: ' + JSON.stringify(response));

                // clear table
                $('#checksTable > tbody').empty();

                // fill amount of videos
                $('#videos_amount').text(' ' + response.videos.length + ' videos');

                var index = 0;
                response.videos.forEach(video => {
                  // console.log('video: ' + video);
                  var download_btn = '<button type="button" class="btn btn-danger" onclick="javascript:download(\'' + video.video_id + '\');"><i class="fa-solid fa-download"></i></button>';
                  var ignore_btn = '<button type="button" class="btn btn-secondary" onclick="javascript:ignore(\'' + video.video_id + '\');"><i class="fa-solid fa-ban"></i></button>';
                  $('#checksTable > tbody:last-child').append('<tr><td>' + index + '</td><td><img class="video_icon" src="/static/images/' + video.platform + '.png" />&nbsp;' + video.video_id + '</td><td>' + video.title + '</td><td>' + video.duration.toString().toHHMMSS() + '</td><td class="video_actions">' + download_btn + ' | ' + ignore_btn + '</td></tr>');
                  index += 1;
                });
            },
            error: function(xhr, textStatus, exception) {
                handleError(xhr, textStatus, exception);
                window.location.href = '/'; // redirect to home page
            }
        });
    });
</script>
{% endblock %}