{% extends "base.html" %}

{% block title %}FastAPI powered Website{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block content %}
<h1>
    Welcome
</h1>
{% if data is defined %}
    <p>Page: {{data.page}}</p>
    <!--<p>Logged: {{data.logged}}</p>-->
{% endif %}
<p>
    <span class="callout">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    </span>
</p>
{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}